<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PROVEEDOR_ADONET" value="System.Data.SqlClient" />
		<add key="SERVER" value="." />
		<add key="USERNAME" value="S+IKsJNtJ9WxW5l79hQEvw==" />
		<add key="PASSWORD" value="uWNafBQEmrOG4K3X2yQW7Q==" />
		<add key="PORT" value="s/+uQvrTz8GRUpS2/IoyaQ==" />
		<add key="DATABASE" value="6DjH/Fmq4Cm91pVEWavT+w==" />

		<!-- DATOS EXTRA -->
		<add key="Frase" value="Pa55pr@se" />
		<add key="Valor" value="s@1tV@lue" />
		<add key="Seguridad" value="SHA1" />
		<add key="Iteracion" value="2" />
		<add key="Vector" value="@1B2c3D4e5F6g7H8" />
		<add key="Tamaño" value="256" />

	</appSettings>
</configuration>